@media screen and (max-width: 576px) {
  .container {
    padding: 0rem 1rem;
    max-width: 90%;
  }

  /* nav-bar */
  .nav-items {
    display: none;
  }
  .hambargur {
    display: block;
  }
  /* Banner  */

  .banner {
    flex-direction: column;
  }

  .banner-decription {
    width: 100%;
  }
  .banner h2 {
    font-size: 2.25rem;
  }
  .shape {
    font-size: 4rem;
  }
  .banner-decription p {
    font-size: 1rem;
    width: 17rem;
    text-align: left;
  }
  .banner-btn a {
    font-size: 0.9rem;
    white-space: nowrap;
    padding: 0.6rem 1rem;
  }
  .banner-image {
    width: 100%;
    justify-content: center;
  }
  /* banner trasparent button  */

  .trasparent-btn-tutorial {
    bottom: 27%;
    right: 50%;
    padding: 1rem 0.8rem;
  }
  #transparent-paragraph {
    font-size: 0.75rem;
    padding-top: 0.2rem;
    white-space: nowrap;
  }
  .circle i {
    display: block;
    font-weight: 800;
    padding: 0.5rem 0.7rem;
  }
  .trasparent-btn-free {
    top: 38%;
    right: 6%;
  }
  .trasparent-btn-free h4 {
    font-size: 1.8rem;
  }
  .trasparent-btn-free p {
    font-size: 0.65rem;
  }
  .habit {
    margin: 1rem auto 0rem;
    width: 100%;
  }
  .habit-description {
    flex-direction: column;
    justify-content: center;
  }

  .card-details p {
    width: 100%;
    margin: 0 auto;
  }
  .habit-tittle h2 {
    font-size: 1.8rem;
  }
  .habit-tittle p {
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    padding: 1rem 0rem;
  }
  /* Run an Extra Mile Easily  */
  .run-extra {
    flex-direction: column;
    padding: 1rem;
    margin: 3.5rem auto;
  }
  .run-extra-desc {
    margin-left: 0rem;
    margin: 1rem;
  }
  .run-extra-desc h2 {
    font-size: 1.8rem;
  }
  .run-extra-desc p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-bottom: 1.5rem;
  }
  .run-extra-desc a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 1rem 2.5rem;
  }
  .run-extra-image img {
    object-fit: contain;
  }

  .form-child div {
    width: 100%;
  }
  /* Unique section start here  */
  .unique {
    flex-direction: column;
  }
  .unique-details h4 {
    font-size: 1.9rem;
    text-align: left;
  }
  /* BMI Calculator  */
  .bmi-caculator-title {
    width: 100%;
    margin: 5rem 0rem;
  }
  .bmi-caculator-title h2 {
    margin-bottom: 0.8rem;
    font-size: 2rem;
  }
  .chart {
    margin-bottom: 2rem;
  }
  .chart-calculator {
    flex-direction: column;
  }
  .chart-calculator {
    padding: 2rem 1rem;
  }
  .calculator-title p {
    font-size: 0.9rem;
  }
  input,
  select {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    height: 3rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
    padding: 0.8rem 2.5rem 0.8rem 1rem;
    margin: 0.7rem 0rem;
    border: none;
    width: 100%;
  }

  /* Meet Our Team  */
  .team-image {
    grid-template-columns: 1fr;
  }
  .hide {
    display: none;
  }
  .team-title {
    width: 100%;
    margin: 2rem auto;
    text-align: center;
  }
  .team-title h2 {
    font-size: 1.9rem;
  }
  .team-title p {
    font-size: 0.9rem;
  }
  /* Footer start here  */
  .footer,
  .footer-right {
    flex-direction: column;
    gap: 1rem;
  }

  .footer-right {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 320px) {
  .container,
  .run-extra {
    padding: 0rem;
  }
  .banner-image {
    justify-content: center;
  }
  .banner-image img {
    width: 100%;
  }
  .trasparent-btn-tutorial {
    border-radius: 12px;
    padding: 1rem 0.5rem;
    gap: 0.3rem;
    position: absolute;
    bottom: 25%;
    right: 50%;
  }
  .trasparent-btn-tutorial h4 {
    font-size: 1rem;
    line-height: 0.8rem;
    letter-spacing: 0.1rem;
  }
  #transparent-paragraph {
    font-size: 0.8rem;
    line-height: 0.9rem;
  }
  .circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  .trasparent-btn-free {
    border-radius: 12px;
    padding: 0.7rem;
    position: absolute;
    top: 41.5%;
    right: -3%;
  }
  .trasparent-btn-free h4 {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 30.24px;
    letter-spacing: 0.76px;
  }
  .trasparent-btn-free p {
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 0.8rem;
    letter-spacing: 0.1px;
  }

  .bmi-caculator-title {
    padding: 0rem 1rem;
  }

  .trainer img {
    height: 15rem;
  }
}
@media screen and (max-width: 375px) {
  .trasparent-btn-free {
    top: 38%;
    right: 0%;
  }
  .team-image {
    padding: 0.8rem;
  }
  .trainer img {
    height: 15rem;
  }
}
